form input ,form select{
    display: block;
}
form input:focus{
    background-color: red;
}

.mo {
    list-style: none;

}
.mo li::before{
    content: "";
    width: 4px;
    display: inline-block;
    height: 4px;
    background-color: red;
    margin-right: 10px;
    vertical-align: middle;
}