p{
    color: red;
}
div{
    width:20%;
    float: left;
    background-color: bisque;
    margin: 10px;
    color: blue;
    text-align: center;
    

}
div h2{
    margin: 0px 0px 20px 0px;
}
div img{
    margin: 10px 0px 0px 0px;
}
.d1{
    margin: 10px 10px 10px 250px;
}
.d4{
    margin: 10px 10px 10px 250px;
}

.e{
    clear: both;
}
h1{
    text-align: center;
}
.p1{
   text-align: center;
}
/*.h1{
    height: 3px;
    width: 70px;
    background-color: bisque;
}
.h2{
    height: 3px;
    width: 30px;
    background-color: #0f0;
    position: relative;
    bottom: 13px;
}
*/
.h0{
    width: 70px;
    position: relative;
    left: 50%;
    bottom: 30px;
    transform: translate(-50% ,-50%);
}
.h1{
    width: 70px;
    height: 3px;
    position:absolute;
    background-color: rgb(255, 196, 196);
}
.h2{
    width: 30px;
    height: 3px;
    position: absolute;
    z-index: 50;
    background-color: green;
    left: 20px;
}
